<div class="users-container">
  <app-user-item *ngFor="let user of users" [user]="user" (click)="getUserInfo(user.id)"></app-user-item>
</div>

<div class="user-info-container" *ngIf="userInfo">

  <app-user-info [userInfo]="userInfo"></app-user-info>

  <button (click)="getPosts(userInfo.id)">Show posts</button>

  <button (click)="getTodos(userInfo.id)">Show todos</button>

  <div class="user-posts-container" *ngIf="isPostsVisible">
    <app-user-post *ngFor="let post of posts" [post]="post"></app-user-post>
  </div>

  <div class="user-todos-container" *ngIf="isTodosVisible">

    <app-user-todo *ngFor="let todo of todos" [todo]="todo"></app-user-todo>

  </div>


</div>
